HTML CSS JS Result Skip Results Iframe body {
	font-family: sans-serif;
	background-color: #fff;
}

.file-upload {
	padding: 0 3%;
	margin: 0 auto;
	border-radius: 10px;
	border: solid 1.5px #fff;
	background-color: #fff;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	width: 60%;
	margin: 0 auto;
	position: relative;
	object-fit: contain;

	border-radius: 10px;

	border: dashed 1.5px #35465d;

	background-color: var(--white);
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #5b417a;
	border: 1.5px dashed #ffffff;
}

.image-upload-wrap:hover > .drag-text h3 {
	color: #fff;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #5b417a;
	padding: 60px 0;
	font-size: 1.5rem;
	width: 70%;
	margin: 0 auto;
}

.file-upload-image {
	max-height: 40%;
	max-width: 40%;
	margin: auto;
	padding: 10px;
}

.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #5b417a;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #808080;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.remove-image:hover {
	background: #825daf;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

.navbar-light .navbar-toggler {
	border-color: #fff;
}

.title {
	font-family: 'Zen Loop', cursive;
	font-size: 3.5rem;
}

@media screen and (max-width: 625px) {
	html {
		font-size: 10px;
	}
	#logoImg {
		width: 140px;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 8px;
	}
	#logoImg {
		width: 100px;
	}
	.drag-text h3 {
		padding: 30px 0;
	}
	.remove-image {
		width: 100px;
	}
}
@media screen and (min-width: 600px) {
	.file-upload-image {
		max-width: 300px;
		max-height: 300px;
	}
}

.upload {
	width: 20%;
}

/* Styles for the graphs */
.bar-container {
	height: 2.7rem;
}
.RM-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(40, 169, 223, 0.2);
}
.RM-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(40, 169, 223);
}
.Suga-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.Suga-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 1);
}
.J-Hope-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(236, 26, 42, 0.2);
}
.J-Hope-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(236, 26, 42);
}
.Jin-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(242, 2, 231, 0.2);
}
.Jin-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(242, 2, 231);
}
.Jimin-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 215, 0, 0.2);
}
.Jimin-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(255, 215, 0);
}
.V-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(14, 130, 44, 0.2);
}
.V-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(14, 130, 44);
}
.Jungkook-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(101, 45, 142, 0.2);
}
.Jungkook-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgb(101, 45, 142);
}
.percent-text {
	font-size: 1rem;
	color: silver;
}
.bts-label {
	width: 20%;
	text-align: left;
	height: 2rem;
}
#label-container {
	width: 80%;
	margin: 0 auto;
}
.result-message {
	font-size: 2rem;
}

.bts-explain {
	font-size: 1.5rem;
}
.RM-bts-title {
	color: rgb(40, 169, 223);
}

.Suga-bts-title {
	color: rgb(0, 0, 0);
}

.J-Hope-bts-title {
	color: rgb(236, 26, 42);
}

.Jin-bts-title {
	color: rgb(242, 2, 231);
}

.Jimin-bts-title {
	color: rgb(255, 215, 0);
}

.V-bts-title {
	color: rgb(14, 130, 44);
}

.Jungkook-bts-title {
	color: rgb(101, 45, 142);
}

#tipjar {
	justify-content: center;
	align-items: center;
}
